@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  width: 100%;
  height: 100%;
}
.App {
  width: 100%;
  height: 100%;
  font-family: "Lato";
}

.header {
  height: 84px;
  box-shadow: 0px 8px 14px -17px #111;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #c25715;
  font-size: 30px;
}
.siteBody {
  height: calc(100% - 164px);
  padding-top: 60px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.sideBar {
  height: 100%;
  width: 30%;
  height: 100%;
}
.stepSummary {
  width: 80px;
  height: 100%;
}

.mainSection {
  width: 70%;
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: #999999;
}

.contentSection {
  display: flex;
  flex-direction: column;
  width: 70%;
  row-gap: 20px;
}

.verticalStepper .descriptionContainer {
  display: none;
}

.expandDiv {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.caretIcon {
  margin-left: 8px;
  transition: transform 0.3s ease;
}

.caretIcon.rotated {
  transform: rotate(90deg);
}

.contentTitle {
  color: #c25715;
}

.submitButton {
  width: fit-content;
}

.submitButton, .inputFile::-webkit-file-upload-button {
  background-color: #c25715;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px; /* Slight border radius */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inputFile {
  margin-left: 10px;
}

input[type='file'] {
  color: rgba(0, 0, 0, 0)
}


.submitButton:hover, .inputFile::-webkit-file-upload-button:hover {
  background-color: #a24512; /* Darker shade on hover */
}

.uploadedFiles {
  display: flex;
  gap: 10px;
  align-items: center;
}

.formTextArea {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0;
}

.formTextArea textarea {
  min-height: 100px;
}

.completedStatus svg {
  margin-right: 5px;
}

.inputText {
  margin-left: 5px;
}

.expandDiv {
  font-weight: 600;
}

.logo {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.contentWrapper {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 20px;
}

.middleConnectorWrapper {
  display: none!important;
}